.myBtn {
  padding: 10px 15px;
  color: #ABBAC7;
  border: 1px solid #CDD9DB1A;
  border-radius: 4px;
  background: #373E47;
  max-width: 140px;
  align-self: flex-end;
  margin-left: 10px;

  &:hover {
    background: #464f5a;
    border-color:  #CDD9DB;
    cursor: pointer;
  }
}

.btnSet {
  background-color: #347D39; 
  color: #FFFFFF;
  font-weight: 600;
}