.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.myModalContent {
  padding: 10px;
  background-color: #22272E;
  border-radius: 4px;
  min-width: 600px;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}