* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Oxygen';
  src: local('Oxygen'), url(../fonts/Oxygen/Oxygen-Regular.ttf) format('ttf');
}

body {
  background-color: #22272E;
  color: #FFFFFF;
};

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  width: 800px;
}

form {
  display: flex;
  flex-direction: column;
}
.post {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0px 4px 4px 4px;
  border: 1px solid #CDD9DB1A;
  margin-bottom: 10px;

  .post__btns {
    align-self: flex-end;
  }  
}
